#msg{:style => "padding-bottom:120px;position:relative"}
  /=debug session.to_a
  /=debug session["1_#{current_user}"]
  /=debug current_user.email + params[:room_id]
  = will_paginate(@msgs, :page_links =>false) 
  /:renderer => "MyLinkRenderer", 
  - msgs.reverse.each do |msg|
    .piece
      %a.signature{:href => user_path(msg.user), :target => "_blank"}= msg.user.username      
      - if msg.user.username == "#{current_user.username}"
        .messages.mine{:id => "#{msg.id}" }
          = raw markdown(msg.body)
          .holder
            %a{:href => "/vote/#{msg.id}", "data-remote" => "true"} 赞
            %a{:href => "javascript:void(0)", :class => "rt", :id => "#{msg.user.username}"} 回
      - else
        .messages{:id => "#{msg.id}" }
          = raw markdown(msg.body)
          .holder
            %a{:href => "#"} 赞
            %a{:href => "javascript:void(0)", :class => "rt", :id => "#{msg.user.username}"} 回
#input-area{:style => "background-color:#E0E0E0;position:fixed;bottom:0;left:0;width: 100%;height: 100px;"}
  %table
    %tr
      %td{:style => "width:10%;"}

      %td
        = form_for Message.new, :remote => true, :html => {:class => "form-horizontal"} do |f|
          = hidden_field_tag(:room_id, room.id)
          = f.text_area :body, {:class => "span2", :cols => 40, :rows => 5, :style => "width:520px;"}
      %td
        #notifications
          Markdown Supported
#loading
  %h1{:style => "border:0;"}
    Loading
  %h2
    Pls Wait For A Second

%audio{:src => "/assets/tip.mp3", :id => "mp3", :preload => "auto"}


:javascript  
  var online_users = new Array();
  console.log("Online_Users:" + online_users);
  var jug = new Juggernaut();
  jug.subscribe("#{@room.id}", function(data){
    console.log("Got data: " +data["username"] + "|" + data["msg"] + "#{current_user.username}" + "online:" + data["online"]);
    online_users = data["online"];
    console.log("Online_Users:" + online_users);
    var flag = false;
    console.log(data["msg_id"] + "|" + data["notify_users"]);    
    for( i in data["notify_users"] )
    {
      if ("#{current_user.id}" == data["notify_users"][i])   
      {
        var flag = true;
      } 
    }
    if(data["username"]=="#{current_user.username}")
    {
      $("#msg").append("<div class='piece'>" + "<a href='/users/" + data["user_id"] + "' class='signature' target='_blank' >"+ data["username"] + "</a>" + "<div class='messages mine' id=" + data["msg_id"] + ">" + data["msg"] + "<div class='holder'>" +
      "<a href='/vote/" + data["msg_id"] + "' data-remote='true'>赞</a>" +
      "<a href='#'' class='rt' id=" + data["username"] + ">回</a></div>" +"</div>" + "</div>");        
    }
    else if(flag == true)
    {                     
      $("#msg").append("<div class='piece'>" + "<a href='/users/" + data["user_id"] + "' class='signature' target='_blank'>"+ data["username"] + "</a>" + "<div class='messages mentioned' id="+ data["msg_id"] + ">" + data["msg"] + "<div class='holder'>" +
      "<a href='/vote/" + data["msg_id"]+ "' data-remote='true'>赞</a>" +
      "<a href='#'' class='rt' id=" + data["username"] + ">回</a></div>" +"</div>" + "</div>");     
      document.getElementById("mp3").play();
    }
    else
    {
      $("#msg").append("<div class='piece'>" + "<a href='/users/" + data["user_id"] + "'class='signature' target='_blank'>"+ data["username"] + "</a>" + "<div class='messages' id="+ data["msg_id"] + ">" + data["msg"] + "<div class='holder'>" +
      "<a href='/vote/" + data["msg_id"]+ "' data-remote='true'>赞</a>" +
      "<a href='#'' class='rt' id=" + data["username"] + ">回</a></div>" +"</div>" + "</div>");
    }
    $("#msg .piece:last-child .messages")[0].parentElement.style.height=$("#msg .piece:last-child .messages").height()+"px";    
    $("#msg .piece:last-child .messages")[0].scrollIntoView();
    if(data["username"].indexOf(String("#{current_user.username}")) >= 0){
      $('#message_body').val('');
    }
  }); 

  console.log("Online_Users:" + online_users);
  $("textarea").atWho("@",{'debug':true,'data':online_users} );  

  $("#message_body").keypress(function(e)    
  {    
    if(e.which == 13 && !e.shiftKey)
    {
      $("form").submit();
    }
  });  

  $(".messages").live("hover",function(){     
    id = $(this).attr("id");    
    new_filter = "#"+ id + " .holder"     
    $(new_filter).show();
  }).live("mouseleave",function(){
    $(".holder").hide();
  });

  $(".rt").live("click",function(data){
    id = $(this).attr("id")
    var content = $("textarea").val();
    content += " " + "@"+id + " ";
    $("textarea").val(content);    
  })
  $(window).unload(function(e) {       
    $.get("/leave/#{@room.id}",{room_id:#{@room.id}} );
    //alert('aa');    
  });
  $(document).ready(function(){
      document.getElementById("loading").style.display="none";
      if($("#msg .piece:last-child .messages")[0]!=undefined)
      {
        $("#msg .piece:last-child .messages")[0].parentElement.style.height=$("#msg .piece:last-child .messages").height()+"px";
        $("#msg .piece:last-child .messages")[0].scrollIntoView();
      }
  });

  $("textarea").tabby();

:css
  .piece
  {
    clear: both;
    margin-bottom: 3px;
    padding-top: 5px;
    min-width: 400px;
    height:auto;
  }
  .signature
  {
    width: 6%;
    float: left;
    margin: 0px 1% 0px 0px;
    text-align: right;
    word-wrap: break-word;
    padding-top: 5px;    
  }
  .messages
  {
    background-color: #F6F6F6;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 5px 5px 5px 5px;
    float: left;
    word-wrap: break-word;
    width: 91%;
    color: #222;        
    position:relative;
  }
  .messages p
  {
    margin:0;
    width:95%;    
  }
  .mine
  {
    background-color: #FBF2D9;
  }
  .mentioned
  {
    background-color: #FFFF00; 
  }
  .messages .holder
  {        
    position:absolute;
    right:0;
    top:5px;
    z-index: 1;
    width:40px;    
    height:25px;
    display:none;
  }
  .messages .holder a
  {
    color:#333;
  }
  #loading
  {
    position: fixed;
    width:30%;
    height:20%;
    top: 35%;
    left: 35%;
    background: white;
    background: rgba(255, 255, 255, 0.95);
    -moz-box-shadow: 0 1px 10px #9c9c9c;
    -webkit-box-shadow: 0 1px 10px #9c9c9c;
    box-shadow: 0 1px 10px #9c9c9c;
  }