#notifications.box
  .tools
    = link_to t("common.mark_all_as_read"), mark_all_as_read_notifications_path, :class => 'btn', :method => :put, :remote => true, :disable_with => '标记所有为已读...' 
    %h1.pull-right 提醒
  %table.table
    %tbody
      - @notifications.each do |notification|
        - if notification.read?
          %tr{:id => notification.anchor}
            %td
              = notification.message.user.username
            %td
              Said To You at
              %i.timestamp_icon
              %span.timestamp #{notification.created_at}
              %p
                = raw markdown(notification.message.body)
            %td
              = link_to "Delete", notification_path(notification), :method => :delete, :remote => true, :class => "btn btn-danger"
              
        - else
          %tr{:style => "background-color: cornsilk;"}
            %td
              = notification.message.user.username
            %td
              Said To You at 
              %i.timestamp_icon
              %span.timestamp #{notification.created_at}
              %p
                = raw markdown(notification.message.body)
            %td
              Delete
      = will_paginate @notifications