.user_setting
	%h1{:style => "border-bottom:1px solid #ccc;"}		
		Basic Settings

	.avatar
		=image_tag(@user.gravatar_url, :width => "120", :height => "120")
		%h3
			= link_to @user.username, user_path(@user), {:style => "display:block;width:80%;padding:0 20px;"}
	= form_for(@user) do |f|
		.left
			%table
				%tr
					%td
						Website:
					%td
						= f.text_field :website
				%tr
					%td
						Email:
					%td
						= f.text_field :email, :disabled => "disabled"
				%tr
					%td
						Facebook:
					%td
						= f.text_field :facebook_id
				%tr
					%td
						Twitter:
					%td
						= f.text_field :twitter_id
				%tr
					%td
						Github:
					%td
						= f.text_field :github_id
				%tr
					%td
						G +:
					%td
						= f.text_field :googleplus_id				
				%tr
					%td
						StackOverFlow:
					%td
						= f.text_field :stackoverflow_id
				%tr
					%td
						Weibo:
					%td
						= f.text_field :weibo_id
		.right
			.about-me 
				= f.text_area :intro
		.form-actions{:style => "float:left;padding: 17px 20px 18px 20px;width:96.5%;"}
			= f.submit "Save Profile", :class => "btn btn-large btn-success"			

	%h1{:style => "border-bottom:1px solid #ccc;float:left;width:100%;"}		
		Advanced Settings
	.advanced{:class => "fl"}
		%h3
			Password
		= form_tag("/update_password", :method => "post", :id => "update_password") do
			%table
				/ - if current_user.password_flag =="1"
				/ 	%tr
				/ 		%td= label_tag :Current_Password
				/ 		%td= password_field_tag "user[current_password]"
				%tr
					%td
						= label_tag :Password
					%td
						= password_field_tag "user[password]"
				%tr
					%td				
						= label_tag :Password_Confirmation
					%td
						= password_field_tag "user[password_confirmation]"				
			= submit_tag "Update Password", :class => "btn btn-success"			

:css
	.avatar
	{		
		margin-right:3%;
	}
	textarea
	{
		width:98%;
		height:100%;
	}
	.user_setting table td, .advanced table td{
		padding: 0 20px 0 0;
		padding-top: 5px;
	}	