.user_setting	
	%h1{:style => "border-bottom:1px solid #ccc;"}
		= link_to @user.username, user_path(@user)
	.avatar
		=image_tag(@user.gravatar_url, :width => "120", :height => "120")	
	.left
		%table
			- unless @user.website.empty?
				%tr
					%td
						Website:
					%td
						#{@user.website}
			- unless @user.email.nil?					
				%tr
					%td
						Email:
					%td
						#{@user.email}
			- unless @user.facebook_id.empty?					
				%tr
					%td
						Facebook:
					%td
						#{@user.facebook_id}
			- unless @user.twitter_id.empty?					
				%tr
					%td
						Twitter:
					%td
						#{@user.twitter_id}
			- unless @user.github_id.empty?					
				%tr
					%td
						Github:
					%td
						#{@user.github_id}
			- unless @user.googleplus_id.empty?					
				%tr
					%td
						G +:
					%td
						#{@user.googleplus_id}
			- unless @user.stackoverflow_id.empty?					
				%tr
					%td
						StackOverFlow:
					%td
						#{@user.stackoverflow_id}
			- unless @user.weibo_id.empty?					
				%tr
					%td
						Weibo:
					%td
						#{@user.weibo_id}
	.right
		.about-me 
			#{@user.intro}
	.form-actions{:style => "float:left;padding: 5px 0 18px 20px;width:98.5%;"}
		/alternative class .well
		%h5{:style => "border-bottom:1px solid #CCC;"}
			Fav Rooms
		%ul{:style => "list-style-type:none;margin:5px 10px 5px 0;"}
			- @user.fav_rooms.each do |f|		
				%li{:style => "width:100px;float:left;padding:2px 10px;"}
					= link_to f.name, room_path(f)			