<div class="container" style="width:500px;">
	<div class="hero-unit" style="background:white">
<h2>Sign in/<%= link_to "Sign up",new_user_registration_path %></h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :Email%></div>
  <div><%= f.text_field :login, :class => "input-xlarge", :placeholder => "Email" %></div>
  <div><%= f.label :Password%></div>
  <div><%= f.password_field :password, :class => "input-xlarge", :placeholder => "Password" %></div>

  <% if devise_mapping.rememberable? -%>
    <div style="margin-bottom:5px;">
      <%= f.check_box :remember_me, :style => "margin-bottom:10px;"%> 
      <%= f.label :remember_me, :style => "display:inline;" %>
    </div>
  <% end -%>

  <div><%= f.submit "Sign in", :class => "btn btn-large btn-success" %></div>
<% end %>

<%= render "links" %>
	</div>
</div>