%ul.thumbnails
  - @rooms.each do |room|
    %li.span3.room{:style => "position:relative"}
      %h5{:style => "font-size:15px;border-bottom:1px solid #ccc;padding:5px;"}
        - if room.has_pwd?
          = image_tag "lock.png", {:style => "display: inline-block;width: 18px;height: 20px;" }
        = link_to "#{room.name[0,28]}", room_path(room), :title => "#{room.name}"
        -if room.user.id != current_user.id
          -if current_user.fav_room_ids.include?(room.id)
            %a.like{:href => "/rooms/#{room.id}/unfav/", :style => "color:#ff0033;", :title => "Unfav It"}
              ❤
          -else
            %a.like.unfav{:href => "/rooms/#{room.id}/fav/", :title => "Fav It"}
              ❤
      %p.desc
        #{room.desc[0,270]} [...]
      %p.stats     
        %a.left{:title => "Online Users Count"}
          #{room.users.length}	
        %a.right{:title => "Messages Count"}
          #{room.messages.length}	

:css
  .room
  {
    display: block;
    padding: 4px;
    width:230px !important;
    height:180px;
    line-height: 1;
    overflow:hidden;
    text-overflow:ellipsis;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  }
  a.like
  {  	
  	float:right;
  	margin-right:2px;
  	font-size:18px;
  	color:#ccccff;
  }
  a.unfav:hover
  {
  	color:#ff0033;
  	text-decoration:none;
  }
  .desc
  {
  	padding:5px;
    line-height:1.5em;
  }
  p.stats
  {  	
  	color:#ccc;
  	bottom:5px;
  	text-decoration:none;
  }
  a.left
  {  	
  	position:absolute;  	
    left: 5px;
    bottom: 5px;
  }
  a.right
  {
  	position:absolute;
    right:5px;
    bottom:5px;
  }
  .span3
  {
    width:220px;
  }