.span9   
  = render :partial => 'messages/index', :locals => {:msgs => @msgs, :room => @room }
.span3{:style => "position:fixed;right:20px;"}  
  =link_to "◄ Leave", "/leave/#{@room.id}", {:class => "btn btn-warning", :id => "leave"}  
  - if @room.user_id == current_user.id
    =link_to "✎ Delete Room", room_path(@room), :confirm => 'Are you sure to DELETE this room?', :method => :delete, :class => ".btn-mini btn-danger", :style => "float:right;"
  - else
    - if current_user.fav_room_ids.include?(@room.id)
      =link_to "❤ Unfav It","/rooms/#{@room.id}/unfav/" ,{:class => "btn", :style => "float:right;"}
    - else      
      =link_to "❤ Fav It","/rooms/#{@room.id}/fav/" ,{:class => "btn btn-success", :style => "float:right;"}  
  - if @room.user.id == current_user.id
    .well.sidebar-nav
      =link_to "Update Room Info", edit_room_path(@room), {:remote => true} 
  .well.sidebar-nav
    %ul.nav.nav-list#online_users      
      %li.nav-header Operation
      %li
        #ckepop
          %a.jiathis_button_tsina                
          %a.jiathis_button_evernote
          %a.jiathis_button_douban   
          %a.jiathis_button_googleplus
          %a.jiathis_button_twitter
          %a.jiathis.jiathis_txt.jtico.jtico_jiathis{:href => "http://www.jiathis.com/share?uid=1615968", :target => "_blank"}
          %a.jiathis_counter_style
      %br
      %br
      %li
        %input{:type => "text", :value => "URL:#{@room_url}", :id => "roomid"}
        /%input{:type => "button", :class => "btn", :value => "Copy Room Id", :id => "copyid"} 
      %script{:charset => "utf-8", :src => "http://v2.jiathis.com/code/jia.js?uid=1615968", :type => "text/javascript"}

  .well.sidebar-nav
    %ul.nav.nav-list#online_users      
      %li.nav-header Room Info
      %ul{:style => "list-style-type:none;margin-left:0;"}
        %li
          %b
            =@room.name
        %li{:style => "overflow-y:scroll;"}
          =@room.desc

/ .well.sidebar-nav
/   %ul.nav.nav-list#online_users      
/     %li.nav-header Users Online
/     - @room.users.each do |user|
/       %li 
/         =link_to user.username, user_path(user), {:target => "_blank"}

:javascript
  $("#roomid").hover(function(){
    $("#roomid").val("#{@room_url}");
    $("#roomid").select();
  }).mouseleave(function(){
    $("#roomid").val("URL:#{@room_url}");
  })

  var jiathis_config = { 
    url: "http://hlcfan.tk/rooms/#{@room.id}", 
    title: "#{@room.name} | ", 
    summary:"#{@room.desc.split.join(" ")} - ChatPro" 
  }  