<!DOCTYPE html>
<html>
<head>
  <title><%= title_helper %></title>
  <meta name="keywords" content="chat,multiuser chat" />
  <meta name="description" content="<%= meta_helper %>">  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://#{JUGGERNAUT_SERVER}:8080/application.js" %>
  <%= csrf_meta_tags %>
  <meta property="wb:webmaster" content="500f0b7e4d06acfc" />
  <script type="text/javascript">
    $('.dropdown-toggle').dropdown();   
    $(".notice").alert();
    
    $(document).ready(function(){
      if($('.notice').text().length > 8)
      {
        $('.notice').show();
      }
      $(".notice").fadeOut('1500'); 
    });
  </script>
</head>
<body>
<div class="notice alert fade in">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <%= notice %>
</div>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href=<%=root_path%>>
        Chat Pro
      </a>
      <ul class="nav">
        <li class="active">
          <%= link_to "Start", root_path%>
        </li>
        <li>
          <%=link_to "New Room", new_room_path, :remote => true %>
        </li>

        <li class="divider-vertical"></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#fat">
          My Favs
          <b class="caret"></b>
          </a>
          <ul class="dropdown-menu fav" id="fav_rooms">
                
            <% if current_user && current_user.fav_rooms.any? %>
              <% current_user.fav_rooms.each do |f|%>
                <li><%=link_to f.name, room_path(f)%></li>          
              <% end %>
            <% else %>
              <li>U Haven't Fav Any Rooms</li>           
            <% end %>

          </ul>
        </li>

        <li class="divider-vertical"></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#fat">
          My Rooms
          <b class="caret"></b>
          </a>
          <ul class="dropdown-menu fav" id="fav_rooms">
                
            <% if current_user && current_user.admin_rooms.any? %>
              <% current_user.admin_rooms.each do |f|%>
                <li><%=link_to f.name, room_path(f)%></li>          
              <% end %>
            <% else %>
              <li>U Haven't Set Up Any Rooms</li>           
            <% end %>

          </ul>
        </li>
        
      </ul>

      <form class="navbar-search pull-left" action="/goto" method="post" id="goto">
        <input type="text" class="search-query span2" placeholder="Room To Go" name="id">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      </form>

      <p class="navbar-text">
        <ul class="nav nav-pills pull-right">
          <% if current_user && current_user.notifications.any? %>
          <li class="notifications">
            <a href="/notifications">
              <span class="count"><%= current_user.notify_count %></span>
            </a>
          </li>
          <% end %>
        <%if current_user%>
          <li class="dropdown" id="menu1">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <%= current_user.username %>
              <b class="caret"></b>              
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Home Page", user_path(current_user) %></li>
              <li><%= link_to "Profile Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%=link_to "Logout", destroy_user_session_path %></li>
            </ul>
          </li>
        <%else%>
          <%= link_to "Login First", new_user_session_path %>
        <%end%>
        </ul>
      </p>
    </div>
  </div>
</div>
<div class="container-fluid" style="margin-top:50px;">
  <div class="row-fluid">        
    <%= yield %>
  </div>
</div>
<div id="edit_form" style="z-index:10000;"></div>
<script type="text/javascript" src="http://js.tongji.linezing.com/2955424/tongji.js"></script><noscript><a href="http://www.linezing.com"><img src="http://img.tongji.linezing.com/2955424/tongji.gif"/></a></noscript>
</body>
</html>